<h2>Create a new guest log</h2>

<p>
We hope you enjoyed your stay at Noble's Landing.  Please tell us about your stay.
</p>

<%= render 'form' %>
<%= button_to "Cancel", guest_logs_path, :method => "get", class: "btn btn-warning" %>