<h2>Change Password <small>for <%= @user.name %></small></h2>

<div id="login-screen" style="width: 250px;">
<%= render 'pw_form' %>
</div> 

<% if !session[:intended_url] %>
  <%= button_to "Cancel", user_path, :method => "get", class: "btn btn-warning" %>
<% end %>
