<% if error_item.errors.any? %>
<div class="alert alert-danger">
      <strong>Oops! The <%= error_item.class.name.titleize.downcase %> could not be saved. 
      Please correct the following <%= pluralize(error_item.errors.count, "error") %>:</strong>
  <ul>
    <% error_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
