<h2>Noble's Landing: The Site </h2>

<p>
  Made by Bradley for the Johnson family to help in sharing and enjoying our wonderful beach house.  
</p>

<p>
This site is meant to be an easy-to-use resource for Noble's Landing guests.  It is being kept
fairly "light weight" (aka no pictures) to make it easy to load and use in places where
an internet connection is slow (like the beach).  As well, the site should be usable 
on computers, tablets and phones.
</p>