<h2>Bolivar Peninsula </h2>

Bolivar is a wondeful place to bring the family! Slowly but surely, the restaurants and places to go are coming back after Ike. Here is a list of some of our favorites!

<p>
<ol>
  <li>Hang on the beach.</li>
  <li>Lighthouse.</li>
  <li>Fort Travis.</li>
  <li>The North Jetty.</li>
  <li>The Flats.</li>
  <li>Stingaree Marina</li>
</ol>
</p>