<h2>Noble's Landing: A Brief History </h2>

<p>
  Back in the late 1950's, our father Noble Johnson discovered Bolivar Peninsula. He used to take the family there on the weekends and camp out because he liked it so much. He eventually met Judge Andrew Johnson, who owned much of the land. Through many conversations and I am sure a few cold ones, our father was able to persuade the judge into selling him beach front property.
</p>

<p>
  Over the next few years our father built us, what would become the best place in the whole world to visit! A few more kids would be born over the next few years bringing the total of Johnson's to 11, including Mom and Dad. We all grew up enjoying Bolivar as our parents did. All of us brought friends to Bolivar, as well as met more friends over the years at Bolivar.  There are many people that have been touched by this wonderful place.
  The house survived many storms, including Hurricane Carla in 1961 and Hurricane Alicia in 1983, a tornado that took off the roof, but on September 13, 2008, a little known storm known as Hurricane Ike was to change our lives forever. 
</p>

<p>
  This site was created in memory of all our memories we have, and to watch the progress of what our father started, to be reborn again.
</p>

<p>
  <i> - Robert Johnson </i>
</p>
