<h2>Lists & Rules</h2>

<br/>

<table class="table table-striped table-condensed table-hover table-responsive" style="width: 90%">
  <% @checklists.each do |checklist| %>
      <tr>
        <td style="width: 150px; valign="top";>
          <%= link_to(checklist.name,checklist) %>
        </td>
    	  <td>
    	    <%= checklist.description %>
    	  </td>
  	  </tr>
  <% end %>
</table>
