<h2>Create a new List</h2>

<p>
Create a checklist to help folks keep track of things at Noble's Landing
</p>

<%= render 'form' %>
<%= button_to "Cancel", checklists_path, :method => "get", class: "btn btn-warning" %>