
<br/>  
<div id="footer">
        <div class="container">
          <p class="text-muted">Copyright &copy; 2014 Didds</p>
        </div>
   </div>
   
   <!-- 
     <%= debug(params) %> 
   -->
