
<br/>  
<div id="footer">
  <div class="container">
    <p class="text-muted">Copyright &copy; 2014 Noble's Landing LLC</p>
  </div>
</div>
   
   <!-- 
    <%= debug(params) %>
    <%= debug(request.url) %>
   -->
